.banner1 {
  &__container {
    width: 300px;
    height: 250px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    position: relative;

    img {
      width: 80%;
      margin-bottom: 8px;
    }
  }

  &__boxes {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 2px;
    justify-content: center;
    padding: 3px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    width: 144px;
    height: 100px;
    padding: 2px;

    p{
      margin: 0;
      font-weight: 700;
    }

    img{
      height: 76px;
      width: auto;
      margin: 0;
    }

  }

  &__symbol{
    color: grey;
    font-weight: 700;
    position: absolute;
    bottom: 8px;
    left: 4px;
    line-height: 8px;
  }
}

.jumpingFrame{
  animation: frame;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes frame {
  0% {border-color: grey}
  50% {border-color: red}
  100% {border-color: grey}
}